#header
{
    position:absolute;
    display:flex;
    width:100%;
    height:100px;
    flex-direction:row;
    background:#FFF8DC;
}

.top_bar
{

    position:relative;
    display:flex;
    width:100%;
    height:30px;
    margin-left:200px;
    margin-right:200px;
    justify-content:flex-end;
    align-content:flex-start;
}

.top_bar a
{
    position:relative;
    display:flex;
    height:30px;
    line-height:30px;
    margin-left:10px;
    margin-right:10px;
    top:2px;
    text-decoration:none;
    color:black;
    font-size:15px;
    font-family:monospace;
    border-bottom:1px solid black;
}
